h1 {
    text-align: center;
    font-family:'Yu Gothic UI';
  font-size:32px;
  font-weight:700;
  color: #333333;
  margin-top: 4px;
  margin-bottom: 0px;
  }


h3 {
  font-family:'Yu Gothic UI';
  font-size:32px;
  font-weight:700;
  color: #333333;
  text-align: left;
  margin-top: 4px;
  margin-bottom: 0px;
}

th, td{
  width: 120px;
  height: 30px;
  font-family: "Arial";
  font-size: 13px;
  font-weight: 100;
  text-align: center;
  color: #333333;
  margin-top: 8px;
  margin-bottom: 4px;
}

th.det {
  font-size: 16px;
  font-weight: 600;
  height: 60px;
}

td.det {
  font-size: 16px;
  font-weight: 300;
  border-bottom: 1px solid gray;
  margin: 0px;
  height: 44px;
}

@keyframes nazwa {
  from { transform: translateX(0px); visibility: visible; }
    to { transform: translateX(-2400px); }
}

@keyframes nazwa1 {
  0% {
    visibility: visible;
    transform: translateX(1200px);
  }
  16% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(0px);
  }
  67% {
    transform: translateX(-1200px);
  }
  100% {
    transform: translateX(-1200px);
  }
}

@keyframes mc {
  from {transform: none ;visibility: visible;}
  to {transform: none ;}
}
/*DIV*/
div {
  margin-bottom: 0px;
}

#main_div{
  width: 100%;
}

div.id1:hover {
  left:800px;
}

div.id2 {
  width: 100px;
  -moz-transition-duration: 2s;
  transition-duration: 2s;
}

div.dyn1 {
  position: absolute;
  animation: 6s infinite nazwa1 ease-in-out;
  width:1100px;
  height:400px;
  visibility: hidden;
  margin: 0 auto;
}

#idh1 {
  animation: 5s infinite nazwa1 linear;
  position: relative;
  left: 0px;
  background: #000000;
  width: 1000px;
  height: 100px;
}

div.l {
  width: 1200px;
  /*height: 440px;*/
  position: relative;
}

div.m {
  width: 400px;
  float: left;
  text-align: center;
}

div.m1 {
  height: 400px;
  width: 320px;
  margin-left: 10px;
  margin-bottom: 30px;
  float: left;
  text-align: center;
  position: relative;
  left: 40px;
  border-right: 1px solid #333333;
}

div.m2 {
  height: 300px;
  width: 240px;
  margin-left: 10px;
  margin-bottom: 30px;
  float: left;
  text-align: center;
  position: relative;

}
span.a {
  font-family: "Arial";
  font-size: 18px;
  color: #333333;
  margin-top: 8px;
  margin-bottom: 4px;
}
  /* PARAGRAPH */
p {
  font-family: "Arial";
  font-size: 18px;
  color: #333333;
  margin-top: 8px;
  margin-bottom: 4px;
}

p.x:hover{
  color: blue;
}

p.m1 {
  font-weight:500;
  text-align: left;
  font-size: 14px;
  margin-top: 12px;
}

p.main {
  font-family: "Corbel";
  margin-top: 0px;
  margin-bottom: 2px;
}

p.a {
  margin-top: 4px;
  margin-bottom: 8px;
  width:120px; 
  height:20px;
  text-align: center;

}

p.b {
  margin-top: 1px;
  margin-bottom: 1px;
  width:120px; 
  height:60px;
  text-align: center;

}

p.c {
  position: relative;
  width: 320px;
}

p.d {
  font-family:'Yu Gothic UI';
  font-size:28px;
  font-weight:700;
}

p.e {
  font-size:14px;
}

p.f {
  font-size:16px;
  font-weight:700;
}

p.m {
  font-size: 20px;
  margin-bottom: 8px;
}

p.s {
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 0px;
  width: 320px;
}

p.m2 {
  font-size: 14px;
  font-weight:200;
  text-align:left;
  position: relative;
  
}


.input_text {
  color: black;
  text-align: left;
  font-size: 14px;
}
.input_text:hover {
  color: black;
  text-align: left;
  font-size: 14px;
}

.in_password {
  color: black;
  text-align: left;
  font-size: 8px;
}

.in_password:hover {
  color: black;
  text-align: left;
  font-size: 8px;
}

.large_text {
  background-color:transparent;
  font-family:'Yu Gothic UI';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#333333;
}

.large_text:hover {
  color:#0000FF;
}

.img1 {
  position: relative;
  width: 1200px;
  height: auto;
  top: 10px;

}

.img2 {
  height: auto;
  width: 320px;
}
  /* TEKST */
#tekst_glowny {
  position:relative;
  width: 1200px;
  top: 420px;
  font-family: 'calibri';
  text-align: center;
  font-size: 16px;
}

.input_text {
  border: 1px;
  border-style: groove;
}

input,
button {
  background-color:#FFFFFF;
  border:0px;
  border-color: #000000;
  font-family:'Arial';
  font-weight:395;
  font-style:normal;
  font-size:18px;
  color:#333333;
}
input:hover,
button:hover{
  background-color:transparent;
  color:#0000FF;
}

input.main,
button.main {
  position: relative;
  background-color:transparent;
  border:0;
  font-family:'Arial';
  font-weight:395;
  font-style:normal;
  font-size:18px;
  color:#333333;
  width: 240px;
  height: 50px;
  top: 40px;
}
input.main:hover,
button.main:hover{
  background-color:#0000FF;
  color:#FFFFFF;
}

input.s{
  border: 1px; 
  font-size:13px; 
  height:22px; 
  border-style: groove; 
  border-color:#666666; 
  width:320px; 
  margin-top:8px; 
  margin-bottom:8px; 
}

input.s:hover {
  color: #000;
}

input.sq {
  border: 1px;
  font-size:13px;
  height:20px; 
  border-style: groove; 
  border-color:#666666; 
  width:320px; 
  margin-top:8px; 
  margin-bottom:1px
}

input.p {
  font-family: "Arial";
  font-size: 18px;
  color: #333333;
  margin-top: 8px;
  margin-bottom: 4px;
  width: 60px;
  float: right;
}

input.p:hover {
  color: blue;
}

input.sq:hover {
  color: #000;
}

input.konto {
  font-size: 14px;
}

input.konto:hover {
  color: #333333
}

.mainbtts {
  position:relative;
  float: left;
  top: 6px;
  width:400px;
  height:48px;
  font-family: 'Arial';
  color: #000000;
}

.mainbtts:hover {
  background-color:#000099;
  color: #FFFFFF;
}

#kursanci{
  position:relative;
  
}

#forum{
  position:relative;
  
}

#konto {
  position:relative;
  float: right;
}
#wyloguj {
  position:relative;
  float: right;
}
#wyloguj:hover{
  color: #F00;
}

#hr1 {
  position:relative;
  left: 1140px;
  height: 1px;
  border-top: 1px solid red;
}